script#item-add-template(type='text/template')
  li.item(data-role="fieldcontain", data-icon="plus", data-iconpos="left")
    a(href="")
      label

//- Actuators and rules page
div#add-item(data-role='page')
  div(data-theme='a', data-role='header', data-position='fixed')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left', 
      data-inline='true', data-transition="slide", data-direction="reverse")=__('Back')
    h3=__('Add an item')
  div(data-role='content')
    ul#device-items(data-role='listview', data-inset='true')
      li(data-role='list-divider')=__('Devices')
    ul#add-other(data-role='listview', data-inset='true')
      li(data-role='list-divider')=__('Other')
      li(data-role="fieldcontain", data-icon="plus", data-iconpos="left")
        a#add-a-header()
          label=__('Add a group header')