//- Actuators and rules page
div#add-item(data-role='page')
  div(data-theme='b', data-role='header', data-position='fixed')
    a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-arrow-l(href='#index', data-transition="slide", data-direction="reverse")=__('Back')
    h3=__('Add an item')
  div.ui-content
    ul#device-items(data-role='listview', data-inset='true', data-theme="b")
      li(data-role='list-divider')=__('Devices')
      <!-- ko foreach: devices -->
      li.item(data-theme="a")
        a(href="", data-bind="text: name, jqmlistitem: {icon: icon()}, css: {added: isAdded()}")
      <!-- /ko -->
    ul#add-other(data-role='listview', data-inset='true', data-theme="b")
      li(data-role='list-divider')=__('Other')
      li(data-role="fieldcontain", data-theme="a", data-icon="plus", data-iconpos="left")
        a#add-a-header()=__('Add a group header')
      li(data-role="fieldcontain", data-theme="a", data-icon="plus", data-iconpos="left")
        a#add-a-button()=__('Add a button')