div#database(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-arrow-l(href='#index', data-transition="slidefade", data-direction="reverse")=__('Back')
    h3=__('Database')
  div.ui-content.overthrow
    h2=__('Problems') + ": "
    ul#database-problems(data-role='listview', data-bind="foreach: problems")
      li
        div.info
          span.attribute(data-bind='text: $data.deviceId + "." + $data.attribute')
          |: 
          span.description(data-bind='text: $data.description')
        div.action
          a.ui-btn.ui-corner-all.ui-mini.delete-link(data-bind="text: $data.action, click: $parent.deleteDeviceAttribute")
    <!-- ko if: problems && problems.length == 0 -->
    div=__("No problems found.")
    <!-- /ko --> 
