div#edit-rule(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header', data-position='fixed')
    h3(data-bind="text: pageTitle()")
  div.ui-content.overthrow
    form#edit-rule-form(autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false")
      input#edit-rule-id(type="text", placeholder="id" data-bind="value: ruleId, jqmenabled: action() == 'add'")
      fieldset
        label(for='edit-rule-name')=__('Name')
        input#edit-rule-name(type="text", placeholder=__('Name') data-bind="value: ruleName")
      fieldset
        label(for='edit-rule-condition')='if'
        textarea#edit-rule-condition(placeholder="...", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleCondition, valueUpdate: 'afterkeydown'")
      fieldset
        label(for='edit-rule-actions')='then'
        textarea#edit-rule-actions(placeholder="...", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleActions, valueUpdate: 'afterkeydown'")
      fieldset(data-role='controlgroup')
        input#edit-rule-active(type='checkbox', name='edit-rule-active', data-bind="jqmchecked: ruleEnabled")
        label(for='edit-rule-active')=__('Enabled')
      fieldset.ui-grid-a
        div.ui-block-a
          a#edit-rule-cancel.ui-btn.ui-icon-back.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
                             data-role="button", href='#index')=__('Cancel')
        div.ui-block-b
          a#edit-rule-save.ui-btn.ui-icon-check.ui-btn-icon-left.ui-btn-b(data-bind="click: onSubmit")=__('Save')
      div#edit-rule-advanced(data-bind="visible: action() == 'update'")
        //- span=__('Advanced Options')+':'
        a#edit-rule-remove.ui-btn.ui-icon-delete.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
          data-bind="click: onRemove", data-role="button", href='#index')=__('Delete this rule')