div#edit-group-page(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    h3(data-bind="text: pageTitle()")
  div.ui-content.overthrow
    form#edit-group-form.short-labels(autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false")
      .ui-field-contain.has-group-name-input
        label(for='edit-group-name')=__('Name') + ': '
        input#edit-group-name(placeholder="group-name", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="textInput: groupName")
      .ui-field-contain.has-group-id-input
        label(for='edit-group-id')=__('ID') + ': '
        input#edit-group-id(placeholder="group-id", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="textInput: groupId, jqmenabled: action() == 'add'")
      .ui-field-contain.ui-grid-a
        div.ui-block-a
          a#edit-group-cancel.ui-btn.ui-icon-back.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
                             data-role="button", href='#groups-page')=__('Cancel')
        div.ui-block-b
          a#edit-group-save.ui-btn.ui-icon-check.ui-btn-icon-left.ui-btn-b(data-role="button", data-bind="click: onSubmit")=__('Save')
      div#edit-group-advanced(data-bind="visible: action() == 'update'")
          //- span=__('Advanced Options')+':'
          a#edit-group-remove.delete-link.ui-btn.ui-icon-delete.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
            data-bind="click: onRemove", data-role="button", href='#groups-page')=__('Delete this Group')