div#edit-rule(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header', data-position='fixed')
    h3(data-bind="text: pageTitle()")
  div.ui-content.overthrow
    form#edit-rule-form.short-labels(autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false")
      .ui-field-contain
        label.short-label(for='edit-rule-name')=__('Name') + ': '
        input#edit-rule-name(type="text", placeholder=__('Short description') data-bind="value: ruleName, valueUpdate: 'afterkeydown'")
      .ui-field-contain
        label.short-label(for='edit-rule-name')=__('ID') + ': '
        input#edit-rule-id(type="text", placeholder="Internal ID" data-bind="value: ruleId, jqmenabled: action() == 'add'")  
      .ui-field-contain
        label(for='edit-rule-condition')='if'
        textarea#edit-rule-condition(placeholder="Condition", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleCondition, valueUpdate: 'afterkeydown'")
      .ui-field-contain
        label(for='edit-rule-actions')='then'
        textarea#edit-rule-actions(placeholder="Actions", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleActions, valueUpdate: 'afterkeydown'")
      input#edit-rule-active(type='checkbox', name='edit-rule-active', data-bind="jqmchecked: ruleEnabled")
      label(for='edit-rule-active')=__('Enabled')
      input#edit-rule-logging(type='checkbox', name='edit-rule-logging', data-bind="jqmchecked: ruleLogging")
      label(for='edit-rule-logging')=__('Log Action Execution ')
      .ui-grid-a
        .ui-block-a
          a#edit-rule-cancel.ui-btn.ui-icon-back.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
                             data-role="button", href='#rules-page')=__('Cancel')
        .ui-block-b
          a#edit-rule-save.ui-btn.ui-icon-check.ui-btn-icon-left.ui-btn-b(data-bind="click: onSubmit")=__('Save')
      div(data-bind="visible: action() == 'update'")
        a#edit-rule-remove.delete-link.ui-btn.ui-icon-delete.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
          data-bind="click: onRemove", data-role="button", href='#rules-page')=__('Delete This Rule')
        a#edit-rule-copy.ui-btn.ui-icon-delete.ui-btn-icon-left(
          data-bind="click: onCopy", data-role="button", href='#rules-page')=__('Copy as New')