div#edit-devicepage-page(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    h3(data-bind="text: pageTitle()")
  div.ui-content.overthrow
    form#edit-devicepage-form.short-labels(autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false")
      .ui-field-contain.has-page-name-input
        label(for='edit-devicepage-name')=__('Name') + ': '
        input#edit-devicepage-name(placeholder="page-name", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="textInput: pageName")
      .ui-field-contain.has-page-id-input
        label(for='edit-devicepage-id')=__('ID') + ': '
        input#edit-devicepage-id(placeholder="page-id", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="textInput: pageId, jqmenabled: action() == 'add'")
      .ui-field-contain.ui-grid-a
        div.ui-block-a
          a#edit-devicepage-cancel.ui-btn.ui-icon-back.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
                             data-role="button", href='#index')=__('Cancel')
        div.ui-block-b
          a#edit-devicepage-save.ui-btn.ui-icon-check.ui-btn-icon-left.ui-btn-b(data-role="button", data-bind="click: onSubmit")=__('Save')
      div#edit-devicepage-advanced(data-bind="visible: action() == 'update'")
          //- span=__('Advanced Options')+':'
          a#edit-devicepage-remove.ui-btn.ui-icon-delete.ui-btn-icon-left(data-transition='slide', data-direction="reverse"
            data-bind="click: onRemove", data-role="button", href='#index')=__('Delete this Page')