div#edit-rule(data-role='page')
  div(data-theme='a', data-role='header', data-position='fixed')
    h3(data-bind="text: pageTitle()")
  div(data-role='content')
    form#edit-rule-form(autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false")
      input#edit-rule-id(type="text", placeholder="id" data-bind="value: ruleId")
      fieldset
        label(for='edit-rule-condition')='if'
        textarea#edit-rule-condition(placeholder="...", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleCondition")
      fieldset
        label(for='edit-rule-actions')='then'
        textarea#edit-rule-actions(placeholder="...", autocomplete="off", autocapitalize="none", autocorrect="off", spellcheck="false", data-bind="value: ruleActions")
      fieldset(data-role='controlgroup')
        input#edit-rule-active(type='checkbox', name='edit-rule-active', data-bind="checked: ruleEnabled")
        label(for='edit-rule-active')=__('Enabled')
      fieldset.ui-grid-a
        div.ui-block-a
          a#edit-rule-cancel(data-icon="close", data-transition='slide', data-direction="reverse"
                             data-role="button", href='#index')=__('Cancel')
        div.ui-block-b
          input#edit-rule-save(data-icon="check", data-theme="a",value=__('Save'), type="submit")
      div#edit-rule-advanced
        span=__('Advanced Options')+':'
        a#edit-rule-remove(data-icon="delete", data-transition='slide', data-direction="reverse"
                               data-role="button", href='#index')=__('Delete this rule')