div#edit-rule(data-role='page')
  div(data-theme='a', data-role='header', data-position='fixed')
    h3
  div(data-role='content')
    form#edit-rule-form
      input#edit-rule-id(type="text", placeholder="id")
      fieldset
        label(for='edit-rule-condition')='if'
        textarea#edit-rule-condition(name="", placeholder="...")
      fieldset
        label(for='edit-rule-actions')='then'
        textarea#edit-rule-actions(name="", placeholder="...")
      fieldset(data-role='controlgroup')
        input#edit-rule-active(type='checkbox', name='edit-rule-active')
        label(for='edit-rule-active')=__('Enabled')
      fieldset.ui-grid-a
        div.ui-block-a
          a#edit-rule-cancel(data-icon="close", data-transition='slide', data-direction="reverse"
                             data-role="button", href='#index')=__('Cancel')
        div.ui-block-b
          input#edit-rule-save(data-icon="check", data-theme="a",value=__('Save'), type="submit")
      div#edit-rule-advanced
        span=__('Advanced Options')+':'
        a#edit-rule-remove(data-icon="delete", data-transition='slide', data-direction="reverse"
                               data-role="button", href='#index')=__('Delete this rule')