div#events(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header', data-position='fixed')
    a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-arrow-l(href='#index', data-transition="slidefade", data-direction="reverse")=__('Back')
    h3=__('Events')
  div.ui-content.overthrow
    .controls
      select#select-device(name='select-device', data-mini="true", data-inline="true", data-bind="jqmoptions: devices, value: chosenDevice")
      select#select-attribute(name='select-attribute', data-mini="true", data-inline="true", data-bind="jqmoptions: attributes, value: chosenAttribute")
    table#events-table.table-stroke(data-role='table', data-mode='reflow')
      thead
        tr
          th(data-priority='2')=__('Time')
          th(data-priority='3')=__('Device')
          th(data-priority='4')=__('Attribute')
          th.value-column(data-priority='1')=__('Value')
      tbody(data-bind="foreach: displayedEvents")
        tr
          td(data-bind="html: formatedTime()")
          td(data-bind="html: formatedDeviceName()")
          td(data-bind="text: formatedAttributeName()")
          td.value-column(data-bind="html: formatedValue()")