script#switch-template(type='text/template')
  li.sortable.switch-device.no-header
    label.device-label(data-bind="text: name, attr: { for: switchId }")
    | 
    select.switch(
      data-bind="attr: { id: switchId }, value: switchState")
      option(value="off")=__('Off')
      option(value="on")=__('On')
script#shutter-template(type='text/template')
  li.sortable.shutter-device.no-header
    label.device-label(data-bind="text: name")
    | 
    div.shutter-buttons.ui-mini.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced="true")
      div.ui-controlgroup-controls
        a.shutter-down.ui-first-child.ui-btn.ui-corner-all.ui-icon-arrow-d.ui-btn-icon-left(href='#')=__('Down')
        a.shutter-up.ui-last-child.ui-btn.ui-corner-all.ui-icon-arrow-u.ui-btn-icon-left(href='#')=__('Up')
script#dimmer-template(type='text/template')
  li.sortable.dimmer-device.no-header
    div.item-inner
      label.device-label(data-bind="text: name")
      | 
      input.dimmer(min="0", max="100", step="5", data-highlight="true",
        data-bind="attr: { id: sliderId }, value: sliderValue")
script#device-template(type='text/template')     
  li.sortable.device.no-header
    label.device-label(data-bind="text: name")
    | 
    span.error(data-bind="text: ($data.error() ? $data.error() : '') ")
    | 
    span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
script#header-template(type='text/template')
  li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
    label(data-bind="text: title")
script#buttons-template(type='text/template')
  li.sortable.button.no-header
    label.device-label(data-bind="text: name")
    div.buttons(data-bind="foreach: $data.device.configWithDefaults().buttons")
      a.ui-btn.ui-mini.ui-btn-inline.ui-corner-all(data-bind="jqmbutton: {text: $data.text}, click: $parent.onButtonPress, click onButtonPress")
script#variable-item-template(type='text/template')
  li.sortable.variable.no-header
    label(data-bind="text: name")
    span.var-value(data-bind="text: value")
script#attribute-template(type='text/template')
  span.attribute
    span.val(data-bind="text: $data.valueText")
    span.unit(data-bind="text: $data.unitText") 
script#sortable-handle-template(type='text/template')
  div.handle.no-carousel-slide
    div.ui-btn-icon-notext.ui-icon.ui-icon-bars.ui-alt-icon.ui-nodisc-icon
script#edit-devicepage-link-template(type='text/template')
  li
    a(data-ajax="false", href="#devicepages-page", id="edit-devicepages-link")
      div.edit-handle.no-carousel-slide
        div.ui-btn-icon-notext.ui-icon.ui-icon-gear.ui-alt-icon.ui-nodisc-icon
      span!='&nbsp;'
script#page-menuentry-template(type='text/template')
  li(data-theme=theme.menuSwatch)
    a(href='#index', data-rel='close', data-transition="slidefade", data-bind="text: name, click: $root.showDevicePage")
script#devicepages-template(type='text/template')
  <!-- ko template: { name: 'devicepage-template', foreach: devicepages} --><!-- /ko -->
script#devicepage-template(type='text/template')
  div(data-bind="id: 'device-page-'+$data.id()")
    ul(data-role="listview", class="items", 
      data-bind="sortable: {isSorting: $root.isSortingItems, sorted: $root.onItemsSorted, drop: $root.onDropItemOnTrash, droppable: '.droppable-' + $data.id}")
      <!-- ko template: { name: 'device-group-template', foreach: groupsWithDevices} --><!-- /ko -->
      <!-- ko if: $root.enabledEditing() || $data.getUngroupedDevices().length > 0  -->
      li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
        label()=__('Ungrouped')
      <!-- ko template: { name: $root.getItemTemplate, foreach: $data.getUngroupedDevices, afterRender: $data.afterRenderDevice } --><!-- /ko -->
      <!-- /ko -->
      li.delete-link(data-theme='a', data-icon="delete", data-bind="visible: $root.isSortingItems, attr: {id: 'delete-item-' + $data.id}, css: 'droppable-' + $data.id")=__('Drop here to remove item')
      li(data-bind="visible: $root.enabledEditing() && !$root.isSortingItems(), attr: {id: 'add-item-link-' + $data.id}")
        a(data-transition='slidefade', href='#add-item', data-bind="click: $root.onAddItemClicked")=__('Add a new item')+'...'
script#device-group-template(type='text/template')
  <!-- ko if: $root.enabledEditing() || $data.devices().length > 0  -->
  li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
    label(data-bind="text: group.name")
  <!-- ko template: { name: $root.getItemTemplate, foreach: $data.devices, afterRender: $parent.afterRenderDevice } --><!-- /ko -->
  <!-- /ko -->
div#index(data-role='page' data-bind="css: {locked: !$root.enabledEditing(), unlocked: $root.enabledEditing(), notSorting: !$root.isSortingItems()}")
  div(data-theme=theme.headerSwatch, data-role='header')
    a#nav-button.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-bars.ui-btn-icon-notext(href='#nav-panel')=__('Menu')
    h3 pimatic
    div.ui-mini.ui-btn-right(data-role="controlgroup" data-type="horizontal")
      a#error-count.ui-btn.ui-btn-inline.ui-mini.ui-btn-icon-left.ui-icon-alert(href='#log', data-transition="slidedown", data-bind="jqmbutton: {text: errorCount}, visible: errorCount() > 0")
      a.ui-btn.ui-btn-inline.ui-btn-icon-left.ui-icon-bars.ui-btn-icon-notext(data-bind="jqmbutton: lockButton(), click: toggleEditing" href="")
  div.ui-content.overthrow(data-role="main", tabindex="1")
    div#item-tabs(data-insert="false")
    div#item-lists.owl-carousel()
  div.content-overlay.ui-content
  div#nav-panel.overthrow(data-role='panel', data-position='left', data-position-fixed='false', data-display='reveal', data-theme=theme.menuSwatch, tabindex="0")
    ul.nav-panel-menu(data-role='listview', data-theme=theme.menuSwatch, data-divider-theme=theme.menuSwatch, style='margin-top: -16px;')
      li(data-icon='delete', data-theme=theme.menuSwatch)
        a(href='#', data-rel='close')=__("Close menu")
      li(data-theme=theme.menuSwatch, data-role="list-divider")=__('Pages')
      <!-- ko template: { name: 'page-menuentry-template', foreach:devicepages} --><!-- /ko -->
      li(data-theme=theme.menuSwatch, data-role="list-divider")=__('Automation')
      li(data-theme=theme.menuSwatch)
        a(href='#rules-page', data-transition="slidefade")=__('Rules')
      li(data-theme=theme.menuSwatch)
        a(href='#variables-page', data-transition="slidefade")=__('Variables')        
      li(data-theme=theme.menuSwatch, data-role="list-divider")=__('Log')
      li(data-theme=theme.menuSwatch)
        a(href='#log', data-transition="slidefade")=__('Messages')
      li(data-theme=theme.menuSwatch)
        a(href='#events', data-transition="slidefade")=__('Events') 
      li(data-theme=theme.menuSwatch, data-role="list-divider")=__('Settings')
      li(data-theme=theme.menuSwatch)  
        a(href='#devices-page', data-transition="slidefade")=__('Devices') 
      li(data-theme=theme.menuSwatch)  
        a(href='#groups-page', data-transition="slidefade")=__('Groups') 
      li(data-theme=theme.menuSwatch)  
        a(href='#plugins', data-transition="slidefade")=__('Plugins') 
      li(data-theme=theme.menuSwatch)
        a(href='#updates', data-transition="slidefade")=__('Updates')
      li#import-ca-cert(data-theme=theme.menuSwatch)
        a(href='root-ca-cert.crt', data-ajax="false", data-bind="visible: hasRootCACert")=__('Show CA root certificate')
      //- Not yet implemented:
      //- li(data-theme=theme.menuSwatch)
      //-   a(href='#', data-transition="slide")=__('Logout')
      li(data-theme=theme.menuSwatch).rememberme.ui-btn.ui-btn-f
          label(for="rememberme")=__('Remember me')
          input(type='checkbox', name='rememberme', id='rememberme' data-mini="true", 
            data-bind="jqmchecked: rememberme")