div#updates-page(data-role='page')
  div(data-theme=theme.headerSwatch, data-role='header')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left', 
      data-inline='true', data-transition="slidefade", data-direction="reverse")=__('Back')
    h3=__('Updates')
  div.ui-content.overthrow
    div.message
      p(data-bind="visible: !pimaticUpdateInfo()")='pimatic is searching for updates...'
      p(data-bind="visible: pimaticUpdateInfo(), text: pimaticUpdateInfoText")
      <!-- ko foreach: pluginUpdateInfoText() -->
      p(data-bind="text: $data")
      <!-- /ko -->
    a#install-updates(data-bind="visible: hasUpdates() && updateProcessStatus() == 'idle', click: installUpdatesClicked",
      data-role="button", data-icon="check",  data-inline="true", data-theme="b", data-mini="true")=__('Install Updates')
    div.message.process-message(data-bind="visible: updateProcessMessages().length > 0")
      <!-- ko foreach: updateProcessMessages() -->
      p(data-bind="text: $data")
      <!-- /ko -->
    p(data-bind="visible: updateProcessStatus() == 'error'")=__('There was an error installing the updates, please check the log.')
    p(data-bind="visible: updateProcessStatus() == 'done'")=__('Updates were successful. Please restart pimatic.')
    a.restart-now(data-bind="visible: updateProcessStatus() == 'done', click: restart",
      data-role="button", data-icon="refresh",  data-inline="true", data-theme="b", data-mini="true")=__('Restart pimatic')