script#variable-template(type="text/template")
  li.variable.sortable(data-bind="")
    a(data-transition='slidefade', href='#edit-variable', style="white-space: normal", data-bind="click: $root.onEditVariableClicked")
      label.var-name(data-bind="text: displayName()")
      span.var-expression(data-bind="text: type() == 'expression' ? ' = ' + exprInputStr() : ''")
      span.var-type(data-bind="text: ' (' + type() + ')'")
      span.var-value(data-bind="text: displayValue()")
script#variable-groups-template(type="text/template")
  <!-- ko if: $root.enabledEditing() || $data.getVariables().length > 0  -->
  li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
    label(data-bind="text: name")
  <!-- ko template: { name: 'variable-template', foreach: $data.getVariables, afterRender: $root.afterRenderVariable } --><!-- /ko -->
  <!-- /ko -->
div#variables-page(data-role='page', data-bind="css: {locked: !$root.enabledEditing(), unlocked: $root.enabledEditing(), notSorting: !$root.isSortingVariables() }")
  div(data-theme=theme.headerSwatch, data-role='header')
    a.ui-btn-left.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-arrow-l(href='#index', data-transition="slidefade", data-direction="reverse")=__('Back')
    h3=__("Variables")
    a.ui-btn-right.ui-btn.ui-btn-inline.ui-corner-all.ui-btn-icon-left.ui-icon-bars.ui-btn-icon-notext(data-bind="jqmbutton: lockButton(), click: toggleEditing")
  div.ui-content.overthrow
    ul#variables(data-role='listview', data-bind="sortable: {isSorting: isSortingVariables, sorted: onVariablesSorted, drop: onDropVariableOnTrash}")
      <!-- ko template: { name: 'variable-groups-template', foreach: groups} --><!-- /ko -->
      <!-- ko if: $root.enabledEditing() || $root.getUngroupedVariables().length > 0  -->
      li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
        label()=__('Ungrouped')
      <!-- ko template: { name: 'variable-template', foreach: $root.getUngroupedVariables, afterRender: $root.afterRenderVariable } --><!-- /ko -->
      <!-- /ko -->
      <!-- ko if: !$root.enabledEditing() && $root.getDeviceAttributeVariables().length > 0  -->
      li.sortable.header(data-role='list-divider', data-theme=theme.dividerSwatch)
        label()=__('Device Attributes')
      <!-- ko template: { name: 'variable-template', foreach: $root.getDeviceAttributeVariables, afterRender: $root.afterRenderVariable } --><!-- /ko -->
      <!-- /ko -->
      li.delete-link.droppable(data-theme='a',data-icon="delete", data-bind="visible: isSortingVariables()")=__('Drop here to remove variable')
      li#add-a-variable(data-bind="visible: enabledEditing() && !isSortingVariables()")
        a(data-transition='slidefade', href='#edit-variable', data-bind="click: onAddVariableClicked")=__('Add a variable')+'...'
  #variablesMenu(data-role='popup', data-theme='a', data-arrow="r")
    ul(data-role='listview', data-inset='true', style='min-width: 210px;')
        li(data-role='list-divider')=__('Choose an action')
        li
          a(href='#', data-rel="back", data-bind="text: toggleEditingText(), click: toggleEditing")=__('Change order')
        li
          a(href='#', data-rel="back", data-bind="text: showAttributeVarsText(), click: toggleShowAttributeVars")      