doctype html
html(manifest=(mode=="production" ? 'application.manifest' : null))
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, user-scalable=no, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta#theme-color(name='theme-color', content='#007dcd')
    //- http://mathiasbynens.be/notes/touch-icons
    link(rel='icon', sizes='152x152', href='apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='apple-touch-icon-152x152-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='apple-touch-icon-120x120-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='apple-touch-icon-76x76-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='apple-touch-icon-precomposed.png')
    title=customTitle
    != nap.css('base')
    != nap.css('style')
    != nap.js('lazyload')
    != nap.js('base')
    script(src='socket.io/socket.io.js')
    script(src='api/decl-api-client.js')
    script(type='text/javascript')!="locale = " + JSON.stringify(i18n.getCatalog(i18n.getLocale())) + ";"
    script(type='text/javascript')!="api = " + JSON.stringify(api) + ";"
    script(type='text/javascript')!="scripts = " + JSON.stringify(scripts) + ";"
    script(type='text/javascript')!="styles = " + JSON.stringify(styles) + ";"
    link#theme-link(rel='stylesheet', data-default-theme=theme.fullName, media='all')
    != nap.js('index')
    link#test(rel='stylesheet', data-default-theme=theme.fullName, media='all')
  body(class=(theme.flat ? 'flat' : ''))
    include pages/index
    include pages/rules
    include pages/variables
    include pages/groups
    include pages/json-scheme-editor
    include pages/add-item
    include pages/edit-rule
    include pages/edit-variable
    include pages/edit-devicepage
    include pages/edit-group
    include pages/edit-device
    include pages/edit-plugin
    include pages/log-messages
    include pages/graph
    include pages/events
    include pages/devices
    include pages/plugins
    include pages/config
    include pages/updates
    include pages/devicepages
    include pages/database
    include login
    | !{additionalPages}
    #toasts(data-bind="foreach: toastMessages")
      ui-toast.ui-corner-all(data-role='toast', data-bind="toast: $data.message")
    div.ui-loader-background
