div#login-page(data-role='page', data-dialog='true', data-close-btn="none")
  div(data-theme=theme.headerSwatch, data-role='header')
    select#select-theme.ui-btn-left(name='select-theme', data-mini='true', data-inline='true')
      each theme in themes
        option(value=theme)=theme.replace('/', ': ')
    h3=__("Login")
  div.ui-content
    form#loginForm
      div(data-role='fieldcontain')
        label(for='Username')=__('Username') + ':'
        input#firstName(type='text', name='username', value='')
      div(data-role='fieldcontain')
        label(for='password')=__('Password') + ':'
        input#password(type='password', name='password', value='', autocomplete='off')
      input#rememberMe(type='checkbox', name='rememberMe')
      label(for='rememberMe')=__('Keep me logged in')
      div(data-role='fieldcontain')
        button#submit(data-theme='b', type='submit')=__('Login')